// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #000000;
  --secondary: #931d1d;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #000000 !important;
  --dark: #fbfffe !important;
  --secondary: #f90e0e !important;
  --visited: #51b4e9 !important;
  --tertiary: #84a59d !important;
  --primary: #f85654 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}
